[user]
	name = kuviman
	email = kuviman@gmail.com
[credential]
	helper = cache
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[status]
	submoduleSummary = true
[core]
	excludesfile = /home/kuviman/.gitignore
	editor = vim
