urxvt*background: black
urxvt*foreground: white
urxvt*font: xft:Source Code Pro:regular:pixelsize=13
urxvt*iso14755: true
urxvt*iso14755_52: false
urxvt*perl-ext-common: default,matcher
urxvt*url-launcher: /usr/bin/xdg-open
urxvt*matcher.button: 1
urxvt*scrollBar: false
urxvt*transparent: true
urxvt*shading: 20

xterm*borderWidth: 0
xterm*reverseVideo: true
xterm*renderFont: true
xterm*faceName: Source Code Pro
xterm*faceSize: 10
xterm*translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
